/* Top Part */

.top{
	width: 100%;
	height: 250px	;
	border: 2px solid black;
	background-image: url("top.jpg");
	background-size: cover;
}
h2{
	text-align: center;
	//color: white;
	margin-bottom: 0px;
}
.balance{
	width: auto;
	height: 65px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: center;
    font-size: 50px;
    margin: auto;
	//border: 1px solid black;
}
.incomeBox{
	width: 270px;
	height: 40px;
	margin: auto;
	font-size: 16px;
	margin-bottom: 5px;
	background-color: aquamarine;
}
.expenceBox{
	width: 270px;
	height: 40px;
	margin: auto;
	font-size: 16px;
	margin: auto;
	margin-top: 5px;
    background-color: brown;
    overflow: hidden;
}

/* Middle Part */

.middle{
	width: 100%;
	height: 100px;
	background-color: #fff;
	margin-top: 5px;
}
.tag{
	margin: auto;padding: inherit;
}
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}
.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
	width: 30px;
	height: 30px;
	border: 2px solid green;
	border-radius: 50%;
    font-size: 35px;
    background-color: greenyellow;
    //border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.resetBtn, .addBtn{
    width: 80px;
    height: 25px;
    margin-left: 10px;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
    
}

.expenses {
    float: left;
    width: 475px;
}


.icome__title { color: #28B9B5;margin-bottom: 15px; }

.income_list, .expenses_list{
    padding-bottom: 5px;
    font-size: 20px;
    color: #222222;
    text-align: center;
}

.expenses__title { color: #FF5049;margin-bottom: 15px;  }

.income_list, .expenses_list p{
    margin:5px;
    padding:5px;
}
